#admin-layout {
  &.ant-layout {
    height: 100vh;
  }
  .ant-layout {
    &-header {
      position: fixed;
      width: 100%;
      height: 44px;
      padding: 0;
      background-color: #fff;
      line-height: 44px;
      .menu-trigger {
        font-size: 18px;
        line-height: 44px;
        padding: 0 15px;
        cursor: pointer;
        transition: color 0.3s;
      }
    }
    &-content {
      margin-top: 44px;
      padding: 15px;
    }
    &-footer {
      padding: 15px;
    }
  }
}
